<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cinema.Core.Properties.Settings.Cinema_NeptunConnectionString"
            connectionString="Data Source=DESKTOP-EBKQ33A;Initial Catalog=Cinema_Neptun;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>